<footer class="footer bg-dark py-2 mt-auto">
    <div class="container py-2" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright:
        <span class="text-muted">lookVegan</span>
    </div>

</footer>