<!-- this is how we run code from the boilerplate.ejs file
we will inject the below html into the body of the boilerplate.ejs
using one template html page allows us to refrain from duplicating code
while easily applying the same styles to everything -->
<% layout("layouts/bpt_login") %>





    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <%- include('../partials/flash')%>
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="text-center">New place!</h3>



                        <form action="/places" , method="post" novalidate class="needs-validation"
                            enctype="multipart/form-data">

                            <div class="mb-3">
                                <label class="form-label" for="title">Restaurant</label>
                                <input class="form-control" type="text" name="title" id="title"
                                    placeholder="Please enter the name of the restaurant" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>

                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="city">City</label>
                                <input class="form-control" type="text" name="city" id="city"
                                    placeholder="Please enter the city of the restaurant" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>

                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="option1">Vegan option one</label>
                                <input class="form-control" type="text" name="option1" id="option1"
                                    placeholder="Please enter the name of the dish" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="mt-3">
                                    <label class="form-label" for="price1">Price</label>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">$</span>
                                        <input id="price1" type="number" class="form-control" name="price1"
                                            aria-label="Amount (to the nearest dollar)" placeholder="0.00" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="option2">Vegan option two</label>
                                <input class="form-control" type="text" name="option2" id="option2"
                                    placeholder="Please enter the name of the dish" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="mt-3">

                                    <label class="form-label" for="price2">Price</label>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">$</span>
                                        <input id="price2" type="number" class="form-control" name="price2"
                                            aria-label="Amount (to the nearest dollar)" placeholder="0.00" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="option3">Vegan option three</label>
                                <input class="form-control" type="text" name="option3" id="option3"
                                    placeholder="Please enter the name of the dish" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>

                                <div class="mt-3">
                                    <label class="form-label" for="price3">Price</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">$</span>
                                        <input id="price3" type="number" class="form-control" name="price3"
                                            aria-label="Amount (to the nearest dollar)" placeholder="0.00" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>

                                    </div>
                                </div>


                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="des">Description</label>
                                <textarea class="form-control" type="text-area" name="des" id="des"
                                    placeholder="Please provide a description" required></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <!-- mutliple attribute allows multiple files to be uploaded -->

                            <div class="mb-3">
                                <label for="image" class="form-label">Upload images</label>
                                <input class="form-control" type="file" name="image" id="image" multiple required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>

                            </div>

                            <div class="mb-3 mt-3">
                                <button class="btn btn-outline-success btn-block">Submit new place</button>
                                <a class="btn btn-outline-primary btn-block" href="/places">Home page</a>
                            </div>

                        </form>


                    </div>

                </div>
        </div>
    </div>